
body{
    color:greenyellow ;
}

main button{
    color:greenyellow;
}
p{
    color:palegoldenrod;
}
header div{
    color:palegoldenrod;

}
main h2{
    color:palegoldenrod;
}
main h2 b{
    color:greenyellow;
}