body{
    color:greenyellow;
}
header p,div{
    color:palegoldenrod;
}
h2{
    color:palegoldenrod;
}
h2 b{
    color:greenyellow;
}
main button{
    color:greenyellow;
}
main div{
    color:greenyellow;
}
main{
    color:greenyellow;
}
